{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        hey there partner!
    <br />
    <br/>
    <strong>Most Liked Categories</strong>
    {% if categories %}
    <ul>
        {% for category in categories %}
            <!-- Following line changed to add an HTML hyperlink -->
            <li>
            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>

    <div>
        <strong>Most Viewed Pages</strong>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No pages viewed.</strong>
    {% endif %}
    </div>
{% endblock %}